FOR LOOP

In [17]:
a=["apple","banana","orange","mango","grapes","blueberry","kiwi","pear","peach","pomogranaate"]
for x in a:
    print(x)
for x in a:
    print(x,end=' ')

apple
banana
orange
mango
grapes
blueberry
kiwi
pear
peach
pomogranaate
apple banana orange mango grapes blueberry kiwi pear peach pomogranaate

In [18]:
b=["red","white","black","orange","pink"]
for y in b:
    print(y)

red
white
black
orange
pink

In [19]:
name="python"
for z in name:
    print(z)

p
y
t
h
o
n

In [20]:
for i in range(101):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [21]:
for i in range(6):
    print("kunal")

kunal
kunal
kunal
kunal
kunal
kunal

In [22]:
for i in range(11):
    print(i*"游때")

游때
游때游때
游때游때游때
游때游때游때游때
游때游때游때游때游때
游때游때游때游때游때游때
游때游때游때游때游때游때游때
游때游때游때游때游때游때游때游때
游때游때游때游때游때游때游때游때游때
游때游때游때游때游때游때游때游때游때游때

In [23]:
for i in range(1,51,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

WHILE LOOP

In [24]:
x=1
while x<5:
    print('run')
    x+=1
print('stop')

run
run
run
run
stop

In [25]:
a=1
while a<11:
    print('kunal')
    a+=1

kunal
kunal
kunal
kunal
kunal
kunal
kunal
kunal
kunal
kunal

In [26]:
a=5
for i in range(1,11):
    print(a,'*',i,'=',a*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [32]:
n=10
sum=0
i=1
while i<=n:
    sum=sum+i
    i=i+1
print(sum)

55

In [36]:
a=0
for i in range(1,11):
   a=a+i
print(a)

55

In [41]:
for i in range(5):
    if i==3:
        break
    print(i)

0
1
2

In [42]:
for i in range(6):
    if i==3:
        continue
    print(i)

0
1
2
4
5

In [48]:
i=1
while i<=10:
    print(i*6)
    if i>=5:
        break
    i=i+1

6
12
18
24
30

In [7]:
a=7
b=5
for i in range(1500,2701):
    if (i%a==0) and (i%b==0):
        print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [20]:
for i in range(6):
    print(i*'*')
for i in range(-4):
    print(i*'*')

*
**
***
****
*****