FOR LOOP

In [10]:
a=["apple","banana","orange","mango","grapes","blueberry","kiwi","pear","peach","pomogranaate"]
for x in a:
    print(x)
for x in a:
    print(x,end=' ')

apple
banana
orange
mango
grapes
blueberry
kiwi
pear
peach
pomogranaate
apple banana orange mango grapes blueberry kiwi pear peach pomogranaate

In [11]:
b=["red","white","black","orange","pink"]
for y in b:
    print(y)

red
white
black
orange
pink

In [12]:
name="python"
for z in name:
    print(z)

p
y
t
h
o
n

In [13]:
for i in range(101):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [18]:
for i in range(6):
    print("kunal")

kunal
kunal
kunal
kunal
kunal
kunal

In [24]:
for i in range(11):
    print(i*"游때")

游때
游때游때
游때游때游때
游때游때游때游때
游때游때游때游때游때
游때游때游때游때游때游때
游때游때游때游때游때游때游때
游때游때游때游때游때游때游때游때
游때游때游때游때游때游때游때游때游때
游때游때游때游때游때游때游때游때游때游때

In [32]:
for i in range(1,51,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

WHILE LOOP

In [36]:
x=1
while x<5:
    print('run')
    x+=1
print('stop')

run
run
run
run
stop

In [3]:
a=1
while a<11:
    print('kunal')
    a+=1

kunal
kunal
kunal
kunal
kunal
kunal
kunal
kunal
kunal
kunal